md-card {
    .mat-card-image {
        height: 200px;
        object-fit: cover;
    }
}

.large {
    max-width: calc(25% - 24px);
    margin-bottom: 24px;
}
.mat-fab {
    position: fixed;
    bottom: 48px;
    right: 48px;
}

