<form [formGroup]="cardForm" (ngSubmit)="getCard()" novalidate fxLayout="column" fxLayoutGap="16px">

  <!-- <div fxFlex>
    <p>
      This weeks number{{ cards?.length > 1 ? 's' : '' }}: <span *ngFor="let card of cards; let isLast = last;">{{ card?.$key }}<span *ngIf="!isLast">, </span></span>
    </p>
  </div>
  
  <md-input-container fxFlex>
    <input type="number" mdInput formControlName="card_number" appFocus autofocus>
  </md-input-container>

  <div fxFlex> 
    <button type="submit" md-raised-button color="accent" (click)="getCard()">NEXT</button>
  </div> -->

  <div fxFlex>
    <md-spinner></md-spinner>
  </div>

  <div fxFlex *ngIf="invalid">
    <p class="warning">
      <md-icon>error</md-icon>
      That's not a valid card number
    </p>
  </div> 

</form>