<form [formGroup]="cardForm" (ngSubmit)="getCard()" novalidate fxLayout="column" fxLayoutGap="16px">

  <div fxFlex>
    <p>
      Enter a number to guess the strain
    </p>
  </div>
  
  <md-input-container fxFlex>
    <input type="number" mdInput formControlName="card_number" appFocus>
  </md-input-container>

  <div fxFlex> 
    <button type="submit" md-raised-button color="accent" (click)="getCard()">NEXT</button>
  </div>

  <div fxFlex *ngIf="invalid">
    <p class="warning">
      <md-icon>error</md-icon>
      That's not a valid card number
    </p>
  </div> 

</form>