<div class="admin">
    <div class="buttons">
        
        
       
    </div>
    <md-card>
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center" class="toolbar">
            <div fxFlex="80%" class="search">
                <md-icon>search</md-icon>
                <input placeholder="Search" [(ngModel)]="searchString" />
            </div>
            <div fxFlex>
                
            </div>
            <div fxFlex>
                <button md-button color="accent" routerLink="add">ADD USER</button>
            </div>
        </div>
        <div fxLayout="row" class="table-head">
            <div fxFlex="45%" class="table-head-col">
                Name
            </div>
            <div fxFlex="45%" class="table-head-col">
                Email
            </div>
            <div fxFlex="10%"></div>
        </div>
        <div fxLayout="column" *ngIf="(users | search: searchString).length === 0">
            <div class="table-body-row">
                <div class="table-body-col">
                    <p>No entries</p>
                </div>
            </div>
        </div>
        <div fxLayout="column" *ngFor="let user of users | search: searchString">
            <div fxLayout="row" class="table-body-row">
                <div fxFlex="45%" class="table-body-col">
                    {{ user.name }}
                </div>
                <div fxFlex="45%" class="table-body-col">
                    {{ user.email}}
                </div>
                <div fxFlex="10%">
                    <!-- <button md-icon-button (click)="delete(user.$key)">
                        <md-icon>delete</md-icon>
                    </button> -->
                </div>
            </div>
        </div>
    </md-card>
    
</div>





