<md-card>
  <md-card-title>That's Correct!</md-card-title>
  <p>Please fill out the form to submit your entry to win $100</p>
  <div fxLayout="column" fxLayoutGap="8px">
    <md-input-container fxFlex>
      <input mdInput placeholder="Name" />
    </md-input-container>
    <md-input-container fxFlex>
      <input mdInput placeholder="Phone" />
    </md-input-container>
    <md-input-container fxFlex>
      <input mdInput placeholder="Email" />
    </md-input-container>
    <div fxFlex>
      <button md-raised-button color="accent">SUBMIT</button>
    </div>
  </div>
</md-card>