.strain-image {
    background-size: cover;
    border-radius: 4px;
    object-fit: cover;
}
.large {
    height: 350px;
    border-radius: 4px;
    object-fit: cover;
}
.small {
    height: 225px;
    border-radius: 4px;
    object-fit: cover;
}

.mat-radio-button {
    display: inline-block;
    margin: 8px 0;
    color: rgba(255,255,255,0.87);
}