.admin {
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #303030;
    display: block;
    padding: 24px;
    height: calc(100vh - 48px);
    width: calc(100vw - 48px);

    .logo {
        max-width: 280px;
        margin: 0 0 24px 0;
    }
    .buttons {
        position: absolute;
        top: 24px;
        right: 24px;
    }
    md-card {
        padding: 0;
        .table-head {
            background-color: #FAFAFA;
            border-bottom: 1px #ccc solid;
            .table-head-col {
                padding: 12px 4px;
                border-right: 1px #ccc solid;
            }
        }
        .winner {
            background-color: rgba(0, 255, 0, 0.34);
        }
        .table-body-row {
            border-bottom: 1px #ddd solid;
            &:hover {
                background-color: #eee;
            }
            .table-body-col {
                padding: 12px 4px;
                display: flex;
                align-items: center;
            }
            md-icon {
                color: rgba(255, 0, 0, 0.87);
            }
        }

    }
}