.app-toolbar {
    h1 {
        margin-left: 16px;
        font-weight: 500;
    }
}

.app-content {
    padding: 24px;
    // background-color: #030303;
}

.side-nav-header {
    background-color: #303030;
    padding: 36px;
    img {
        max-width: 200px;
        height: auto;
    }
}