<md-card>
  <md-card-title>New User</md-card-title>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="16px">
    <md-input-container fxFlex>
      <input mdInput placeholder="Name" formControlName="name" />
    </md-input-container>
    <md-input-container fxFlex>
      <input mdInput placeholder="Email" formControlName="email" />
      <md-error *ngIf="userForm.controls.email.errors?.email">
        Must be a valid email address
      </md-error>
    </md-input-container>
    <md-input-container fxFlex>
      <input mdInput type="password" placeholder="Password" formControlName="password" />
    </md-input-container>
    <md-input-container fxFlex>
      <input mdInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
      <md-error *ngIf="userForm.controls.confirmPassword.errors?.MatchPassword">
        Passwords must match
      </md-error>
    </md-input-container>
    <div fxFlex>
      <button type="submit" [disabled]="userForm.invalid" md-raised-button color="accent">SAVE</button>
    </div>
  </form>
</md-card>